.sidebar {
  width: 14rem;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 1.5rem;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #444;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav li {
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  gap: 0.75rem;
  color: #555;
  cursor: pointer;
  transition: background 0.2s;
}

.sidebar-nav ul li a{
    text-decoration: none;

}

.sidebar-nav li:hover,
.sidebar-nav li.active {
  background-color: #e9efff;
  color: #3b82f6;
  font-weight: 600;
}
